<!DOCTYPE html>
<html>

<head>
  <% include templates/head.ejs %>
</head>

<body>
  <% include templates/header.ejs %>

    <div>
      <%- body %>
    </div>

    <% include templates/footer.ejs %>
</body>

</html>
