<% layout('layout') -%>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <ul id="pollCollection" class="collection with-header">
        <li class="collection-header">
          <h4>Current Polls</h4></li>
      </ul>
    </div>
  </div>

  <script src="/scripts/polls.js"></script>
