<footer class="page-footer orange">
  <div class="container">
    <div class="row">
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright Junicus - 2016
    </div>
  </div>
</footer>

<script src="lib/materialize/dist/js/materialize.js"></script>
<script src="scripts/auth0.js"></script>
<script src="scripts/script.js"></script>
